.main-content{
    margin-left: 30%;
    font-size: large;
    color: #c1bace;
}

.invTable{
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
}

.invTableHead{
    height: 50px;
    text-align: left;
}

.invTable tr{
    border: 1px solid;
}